{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ pagename }}</h2>
    <div>
        {% for item in items %}
            <div style="border: 0.75px solid lightgray; border-radius: 5px; height: 250px; margin: 20px 0 0 0;">
                <div style="float: left; padding: 25px; width: 500px;">
                    <img src="{{ item.image }}" alt="Image not found" style="height: 200px; max-width: 470px; margin: auto; display: block;">
                </div>
                <div style="float: left; padding: 25px;">
                    <div>
                        <a href="{% url 'item' item.id %}">
                            <h5> {{ item.name }} </h5>
                        </a>
                    </div>
                    <div style="margin-top: 10px;">
                        {{ item.description }}
                    </div>
                    <div style="margin-top: 10px;">
                        Category: {{ item.category }}
                    </div>
                    <div style="margin-top: 10px;">
                        Starting bid: $ {{ item.start_bid }}
                    </div>
                </div>
            </div>
        {% empty %}
        <div style="margin: 25px;">
            <h2>No listings yet...</h2>
        </div>
        {% endfor %}
    </div>
{% endblock %}